<!DOCTYPE html>
<html lang='en'>
	<head>
		<!-- Global site tag (gtag.js) - Google Analytics -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-161918657-2"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

			gtag('config', 'UA-161918657-2');
		</script>
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/100/three.min.js"></script>

		<script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
		<script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>

		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

		<title>Megan Klusey Portfolio</title>
		<link rel='icon' href='icon.png'/>
		<link href='https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald' rel='stylesheet'/>
		
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

		<meta name='viewport' content='width=device-width, initial-scale=1'/>
		<meta charset='UTF-8'/>
	</head>

	<body>
		<div id='overlay' onclick='off()'>
			<div class='overlay-img'>
				<video autoplay playinline muted loop>
					<source src="berlineastsidegalleryberlin.mp4" />
				</video>
			</div>
		</div>
		
		<div id='header'></div>
		<div id='home' class='main'></div>
		<div id='about' class='main'></div>
		<div id='work' class='work main'></div>
		<div id='contact' class='main'></div>

	</body>
</html>
<script>
	$(document).ready(function() {
  	AOS.init();
	});
</script>