// Breakpoints:
$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

// Colours:
$white: #fff;
$black: #000;
$navy: #003478;
$grey-1: #212221;
$grey-2: #b8b8b8;
$grey-3: #808080;
$blue-1: #c0d1f3;
$blue-2: #e8f4f3;

// Fonts:
$oswald: "Oswald", sans-serif;
$cardo: "Cardo", serif;
