@import './views/about.scss';
@import './views/contact.scss';
@import './views/header.scss';
@import './views/home.scss';
@import './views/work.scss';

*, body {
	margin: 0;
	padding: 0;

	.main {
		margin: 0 auto;
		width: 80%;
	}

	p {
		font-family: 'Cardo';
		font-size: 24px;
	}

	#about, #work, #contact {
		display: flex;
		align-items: center;
		justify-content: center;
		min-height: calc(100vh - 57.5px);
	}
}