$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

@import './views/header.scss';
@import './views/home.scss';
@import './views/about.scss';
@import './views/work.scss';
@import './views/contact.scss';

*, body {
	margin: 0;
	padding: 0;

	p {
		font-family: 'Cardo';
		font-size: 24px;
	}

	.about-container, .work-container, .contact-container{
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 auto;
		min-height: calc(100vh - 100px);
		width: 80%;

		&:not(.contact-container) > div {
			padding: 50px 0;
		}
	}
}