@use "./variables" as *;
@use "./views/header.scss";
@use "./views/home.scss";
@use "./views/about.scss";
@use "./views/work.scss";
@use "./views/contact.scss";

*,
body {
  margin: 0;
  padding: 0;

  p {
    font-family: $cardo;
    font-size: 24px;
  }

  .about-container,
  .work-container,
  .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    min-height: calc(100vh - 100px);
    width: 95%;

    @media screen and (max-width: $xl) {
      width: 80%;
    }

    &:not(.work-container) {
      width: 80%;
    }

    &:not(.contact-container) > div {
      padding: 50px 0;
    }
  }
}
