.fade {
	animation-duration: 0.5s;
	animation-name: fade;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

#contact {
	display: flex;
	align-items: center;
	justify-content: center;

	.contact-container {
		display: flex;
		flex-direction: column;
		max-width: 50%;
		text-align: center;
		width: 100%;

		.contact-form {
			font-family: 'Cardo';
			transform: translateX(0%) translateY(14%);
			transition: all 1s ease-in-out;

			.form-control {
				background: transparent;
				border: none;
				border-bottom: 1px solid gray;
				color: #000;
				font-family: 'Cardo';
				font-size: 18px;
				margin-bottom: 16px;
				outline: none;
				width: 100%;

				:-ms-input-placeholder {
					color: #999;
				}
			}
		
			input {
				height: 45px;
			}
		
			textarea {
				height: 100px;
				overflow: auto;
			}
		
			.submit {
				background: #003478;
				border-color: transparent;
				color: #fff;
				font-family: 'Oswald';
				font-size: 20px;
				height: 40px;
				letter-spacing: 2px;
				margin-top: 12px;
				overflow: hidden;
				text-align: center;
				width: 100%;
			
				&:hover {
					color: #fff;
					cursor: pointer;
					animation: shine 2s infinite;
					-webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 1) 30%, transparent 50%, rgba(0, 0, 0, 1) 70%);
					-webkit-mask-size: 200%;
				}
			}
		}
	}
}