$sm: 640px;
$md: 768px;
$lg: 1024px;
$xl: 1280px;

.fade {
	animation-duration: 0.5s;
	animation-name: fade;
	-webkit-animation-name: fade;
	-webkit-animation-duration: 0.5s;
}

@-webkit-keyframes fade {
	from {
		opacity: 0.4;
	}

	to {
		opacity: 1;
	}
}

@keyframes fade {
	from {
		opacity: 0.4;
	}
	to {
		opacity: 1;
	}
}

.contact-container {
	display: flex;
	align-items: center;
	justify-content: center;

	.contact-form-wrapper {
		display: flex;
		flex-direction: column;
		text-align: center;
		width: 55%;

		@media only screen and (max-width: $lg) {
			width: 100%;
		}

		.contact-form {
			font-family: 'Cardo';
			transform: translateX(0%) translateY(14%);
			transition: all 1s ease-in-out;

			.form-control {
				background: transparent;
				border: none;
				border-bottom: 1px solid gray;
				color: #000;
				font-family: 'Cardo';
				font-size: 18px;
				margin-bottom: 16px;
				outline: none;
				width: 100%;

				&::placeholder {
					font-style: italic;
				}
			}
		
			input {
				height: 45px;
			}
		
			textarea {
				height: 100px;
				overflow: auto;
			}
		
			.submit {
				background: #003478;
				border-color: transparent;
				color: #fff;
				font-family: 'Oswald';
				font-size: 20px;
				height: 40px;
				letter-spacing: 2px;
				margin-top: 12px;
				overflow: hidden;
				text-align: center;
				width: 100%;

				&.shine {
					&:hover {
						color: #fff;
						cursor: pointer;
						background: #003478 -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff)) 0 0 no-repeat;
						background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, #fff 50%, transparent 60%, transparent 100%);
						-webkit-background-size: 200%;
						-webkit-animation-name: shine;
						-webkit-animation-duration: 4s;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-play-state: running; /* Add this line */
					}
				}
			}
		}
	}
}