@use "../variables" as *;

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: $oswald;
  justify-content: center;
  position: fixed;
  width: 100%;
  top: 28%;
  z-index: 2;
  transition: 0.4s;

  @media only screen and (max-width: 676px) {
    top: 15%;
  }

  nav {
    align-items: center;
    display: flex;
    flex-direction: column;
    list-style: none;
    position: relative;
    z-index: 1;

    .title-wrapper {
      .base,
      .gradient {
        font-size: 120px;
      }
    }

    .title-wrapper,
    .about-wrapper,
    .work-wrapper,
    .contact-wrapper {
      width: auto;
      position: relative;
      clip-path: inset(1px);

      .base,
      .gradient {
        transform: translateX(-50%);
        left: 50%;
        top: 0;
        width: 100%;
        font-weight: lighter;
        line-height: 1.2;
        text-align: center;
        transition: 0.4s;
        z-index: 3;
        padding: 1px;
        text-transform: uppercase;
      }

      a {
        color: transparent;
        text-decoration: none;

        .base {
          position: absolute;

          .shine {
            background: $grey-2 -webkit-gradient(linear, left top, right top, from($grey-1), to($grey-1), color-stop(0.5, $white)) 0 0 no-repeat;
            background-image: -webkit-linear-gradient(-40deg, transparent 0%, transparent 40%, $white 50%, transparent 60%, transparent 100%);
            overflow: hidden;
            background-clip: text;
            background-size: 200%;
            background-clip: text;
            animation-name: shine;
            animation-duration: 4s;
            animation-iteration-count: infinite;
            -webkit-background-size: 200%;
            -webkit-background-clip: text;
            -webkit-animation-name: shine;
            -webkit-animation-duration: 4s;
            -webkit-animation-iteration-count: infinite;

            &.about {
              animation-name: shineAbout;
              -webkit-animation-name: shineAbout;
            }

            &.work {
              animation-name: shineWork;
              -webkit-animation-name: shineWork;
            }

            &.contact {
              animation-name: shineContact;
              -webkit-animation-name: shineContact;
            }
          }
        }
      }

      .gradient {
        display: grid;
        position: relative;
        pointer-events: none;

        &::after {
          content: attr(data-text);
          color: transparent;
          background: linear-gradient(179deg, transparent 0%, rgba($white, 0.75) 44%, transparent 95%, transparent 100%);
          background-clip: text;
          -webkit-background-clip: text;
        }
      }
    }

    ul {
      display: flex;
      justify-content: space-around;
      width: 100%;

      li {
        .base,
        .gradient {
          font-size: 36px;

          @media only screen and (max-width: 425px) {
            font-size: 24px;
          }
        }

        a {
          &.active {
            .shine {
              color: $navy;
            }
          }

          &:hover:not(.active) {
            .shine {
              color: $navy;
              opacity: 0.6;
              transition: none;
            }
          }
        }
      }
    }
  }

  &.shrunk {
    background-color: $white;
    top: 0%;
    height: 100px;
  }
}

@keyframes shine {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: -50%;
  }
}

@keyframes shineAbout {
  0% {
    background-position: 340%;
  }
  100% {
    background-position: -410%;
  }
}

@keyframes shineWork {
  0% {
    background-position: 380%;
  }
  100% {
    background-position: -200%;
  }
}

@keyframes shineContact {
  0% {
    background-position: 470%;
  }
  100% {
    background-position: -100%;
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: -50%;
  }
}

@-webkit-keyframes shineAbout {
  0% {
    background-position: 340%;
  }
  100% {
    background-position: -410%;
  }
}

@-webkit-keyframes shineWork {
  0% {
    background-position: 380%;
  }
  100% {
    background-position: -200%;
  }
}

@-webkit-keyframes shineContact {
  0% {
    background-position: 470%;
  }
  100% {
    background-position: -100%;
  }
}
