.home-container {
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  z-index: 1;

  .more-arrows-wrapper {
    width: 75px;
    height: 65px;
    position: absolute;
    left: 50%;
    top: 80%;
    overflow: hidden;
    transform: translate(-50%, -50%);

    .base,
    .gradient {
      position: absolute;
      fill: #b8b8b8;
      transform: translateX(-50%);
      left: 50%;
      top: 0;
      height: 100%;
      width: 100%;
      transition: 0.25s;
      animation: shine 3s infinite 3s;
      -webkit-mask-image: linear-gradient(-75deg, $white 30%, #ffffff30 40%, $white 70%);
      -webkit-mask-size: 200%;
    }

    polygon {
      transition: all 0.2s ease-out;
    }

    &:hover {
      stop:nth-child(2) {
        stop-color: $white;
      }

      .base {
        animation: none;
        -webkit-mask-image: none;
        -webkit-mask-size: 0%;

        polygon {
          &.arrow-top {
            fill: $navy;
            opacity: 0.5;
            transform: translateY(18px);
          }

          &.arrow-middle {
            fill: $navy;
            opacity: 0.75;
          }

          &.arrow-bottom {
            fill: $navy;
            transform: translateY(-18px);
          }
        }
      }

      .gradient {
        visibility: hidden;

        polygon {
          &.arrow-top {
            opacity: 0;
            transform: translateY(18px);
          }

          &.arrow-middle {
            opacity: 0;
          }

          &.arrow-bottom {
            opacity: 0;
            transform: translateY(-18px);
          }
        }
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), $white 70%);
    width: 100%;
    height: 8em;
  }
}
