@use "../variables" as *;

.work-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .work-categories {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .work-category {
      display: flex;
      flex-direction: column;
      align-items: center;

      h3 {
        margin-bottom: 10px;
        text-align: center;
      }

      .thumbnails-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;

        .thumbnail-container {
          border: 1px solid $grey-1;
          display: flex;
          position: relative;

          .thumbnail-wrapper {
            height: 0;
            position: relative;
            padding-bottom: 56.25%;
            overflow: hidden;
            width: 300px;

            .thumbnail-overlay {
              background: linear-gradient(to top right, $blue-1, $blue-2);
              display: flex;
              justify-content: center;
              padding-bottom: 56.25%;
              transform: translateY(100%);
              width: 100%;

              &.slide-up {
                animation: slide-up 0.25s linear;
                transform: translateY(0%);
              }

              &.slide-down {
                animation: slide-down 0.125s linear;
                transform: translateY(100%);
              }

              .overlay-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                position: absolute;
                height: calc(100% - 20px);
                width: calc(100% - 20px);

                .project-info {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  gap: 16px;

                  p {
                    color: $grey-1;
                    display: flex;
                    align-items: baseline;
                    font-size: 14px;
                    text-transform: uppercase;

                    .list-title {
                      font-family: $oswald;
                      font-weight: 800;
                      white-space: nowrap;
                    }
                  }
                }

                .view-project {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 4px;
                  margin: auto;
                  margin-bottom: 0;
                  text-decoration: none;
                  transition-duration: 200ms;

                  &:hover {
                    opacity: 0.6;
                  }

                  p {
                    color: $navy;
                    font-family: $oswald;
                    font-size: 16px;
                    text-transform: uppercase;
                    position: relative;
                  }

                  .chevron-forward {
                    display: flex;
                    color: $navy;
                    font-family: $oswald;
                  }
                }
              }
            }

            .thumbnail {
              position: absolute;
              object-fit: contain;
              top: 0;
              width: 300px;
              height: 100%;
              z-index: -1;

              &.cover {
                object-fit: cover;
              }

              &.top {
                object-position: 0% 0%;
              }
            }
          }
        }

        .work-description {
          display: inline-block;
          padding-left: 4px;
          padding-right: 4px;
          text-align: center;
          vertical-align: middle;
          width: 50%;
        }

        .overlay-img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          overflow: hidden;
        }
      }
    }
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@keyframes shine {
  0% {
    background-position: 120%;
  }
  100% {
    background-position: -50%;
  }
}

@-webkit-keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slide-down {
  from {
    transform: translateY(0%);
  }
  to {
    transform: translateY(100%);
  }
}

@-webkit-keyframes shine {
  0% {
    background-position: 120%;
  }
  100% {
    background-position: -50%;
  }
}
